.btn {
    background: linear-gradient(90deg, var(--crayola) 0%, var(--aqua) 100%); 
    border-radius: 1rem;    
    box-shadow: inset 0rem -.125rem .8125rem 0rem #ffffff;
    color: var(--white-100);    
    font: var(--f-p18-bold);
    height: 3rem;
    padding: .8125rem 1.75rem;
    position: relative;
    transition: all .6s ease-in-out;
    &:hover {
        box-shadow: inset 0rem -.125rem .8125rem 0rem rgba(0, 0, 0, 0.256);
    }
    &::after {
        border-radius: inherit; 
        bottom: 0;        
        box-shadow: 0rem .3125rem .8125rem 0rem rgba(0, 0, 0, 0.256);
        content: "";        
        height: inherit;        
        left: 0;
        position: absolute;
        transition: all .3s ease-in-out;
        width: inherit;        
        z-index: -1;        
    }
    &:hover::after {
        box-shadow: none;
    }
}