.card-service {
    background: var(--white-100);
    border-radius: 1.5rem;
    box-sizing: border-box;
    height: 17.5625rem;
    padding: 2rem;
    width: 22rem;
    img {
        border-radius: inherit;
        border: .25rem solid var(--white-90);
        height: 5rem;
        width: 5rem;
    }
    .card-service-t {
        color: var(--dark-100);
        font: var(--f-bold-sub-heading);
        padding-block: 1rem .625rem;
    }
    p {
        color: var(--dark-90);
        font: var(--f-p16-1\4);
    }
}
/* mobile */
@media (max-width: 26.75rem) {
    .card-service {
        width: 100%;
    }
}
