.container-card {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.card-service {
    background: var(--white-100);
    box-sizing: border-box;
    opacity: 0;
    padding: 2rem;
    transform: translateY(50px);
    transition: 1s ease-in-out;
    img {
        border-radius: inherit;
        border-color: var(--white-90);
        height: 5rem;
        width: 5rem;
    }
    .card-service-t {
        color: var(--dark-100);
        font: var(--f-bold-sub-heading);
        padding-block: 1rem .625rem;
    }
    p {
        color: var(--dark-90);
        font: var(--f-p16-1\4);
    }
}
.card-service.show {
    opacity: 1;
    transform: translateY(0);
}
/* tablet */
@media (max-width: 52.125rem) {
    .container-card {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
/* mobile */
@media (max-width: 26.75rem) {
    .container-card {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}