.container-team {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.card-team {
    width: 100%;    
    img {
        border-color: var(--white-100);
        box-sizing: border-box;
        height: 18.0625rem;
        width: 100%;
    }
    figcaption {
        margin-top: .75rem;
        padding: .75rem;
        & p:nth-child(1) {
            font: var(--f-bold-sub-heading);
        }
        & p:nth-child(2) {
            color: var(--dark-90);
            font: var(--f-p16-1\4);
            margin-top: .5rem;
        }
    }
}
/* tablet */
@media (max-width: 52.125rem) {
    .container-team {
        gap: 3rem;        
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
/* mobile */
@media (max-width: 26.75rem) {
    .container-team {     
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .card-team {        
        img {
            aspect-ratio: 1 / 1;
            height: 22rem;
        }     
    }
}