#form {
    .container-form {
        background: var(--white-100);
        box-sizing: border-box;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2.25rem 3rem;
    }
    form {
        background: var(--white-100);
        flex-direction: column;
        gap: 2rem;
        margin-top: 3rem;
        button {
            border: none;
            cursor: pointer;
            outline: none;
        }
    }
}
.content-consult {
    color: var(--dark-90);
    width: 32.6875rem;
    p {
        font: var(--f-p16-1\6);
    }
    ul {
        margin-block: 2rem;
        li {
            font: var(--f-p16-1\4);
            gap: .625rem;
            margin-bottom: 1rem;
            .circle {
                background: var(--crayola);
                padding: .4375rem;
                &::after {
                    align-items: center;
                    color: var(--white-100);
                    content: "✓";
                    display: flex;
                    font-size: .625rem;
                    font-weight: var(--f-w-sb);
                    justify-content: center;
                    padding: .25rem;
                }
            }
        }
    }
}
.tform {
    color: var(--dark-100);
    font: var(--f-heading);
    margin-block: 1rem;
    & + p {
        font: var(--f-p16-1\6);
        width: 32.6875rem;
    }
}
.input-wrapper {
    flex-direction: column;
    gap: .625rem;
    label {
        color: var(--dark-90);
        font: var(--f-p16-1\4);
    }
    input {
        background: var(--white-95);
        border-radius: .625rem;
        border-color: var(--white-95);
        color: var(--white-80);
        font: var(--f-p14-medium);
        height: 2.5rem;
        outline: none;
        padding: .75rem;
        width: 100%;
        &::placeholder {
            color: var(--white-80);
            font: var(--f-p14-medium);
        }
        &:focus {
            border-color: var(--crayola);
        }
        &[type="date"] {
            position: relative;
            &::-webkit-calendar-picker-indicator {
                opacity: 0;
            }
            &::before {
                background: url('../../assets/icons/calendar.svg') center/contain;
                content: "";
                height: 1rem;
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
                width: 1rem;
            }
        }
    }
}
.cont-form {
    gap: 1rem;
    width: 100%;
    .input-wrapper {
        flex: 1;
    }
}
/* tablet */
@media (max-width: 52.125rem) {
    .container-form {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-block: 5rem;
    }
    .content-consult .tform {
        width: 26.25rem;
    }
    form {
        width: 100%;
    }
    .tform {
        width: 22rem;
        & + p {
            width: 22rem;
        }
    }
}
/* mobile */
@media (max-width: 26.75rem) {
    #form {
        .container-form {
            padding: 2.25rem 1.25rem;
            & .tform {
                width: 19.375rem;
            }
        }
    }
    .input-wrapper {
        input {
            font-size: .8125rem;
            &::placeholder {
                font-size: inherit;
            }
            &[type="date"] {
                &::before {
                    right: .3125rem;
                }
            }
        }
    }
}