header {
    flex-direction: column;
    text-align: center;
    h1 {
        font: var(--f-main-heading);
        margin-bottom: 1.5rem;        
    }
    p {
        color: var(--dark-80);
        font: var(--f-p18);
    }
    &.subtitle {
        margin-block: 5rem 4rem;
        h2 {
            font: var(--f-heading);
            padding-block: 1rem .75rem;
            width: 37.5rem;
        }
    }
}