.tag {
    align-items: center;
    background: var(--white-100);
    border-radius: 1.625rem;
    border-color: var(--white-90);
    box-shadow:
        .5625rem .75rem 1.625rem -0.375rem rgba(64, 224, 208, 0.35),
        .5625rem .75rem 1.625rem -0.375rem rgba(64, 224, 208, 0.35),
        -0.9375rem .75rem 1.625rem -0.375rem rgba(0, 153, 255, 0.35),
        -0.9375rem .75rem 1.625rem -0.375rem rgba(0, 153, 255, 0.35)
    ;
    font: var(--f-p16-1\4);
    gap: .5rem;
    padding: .5rem .875rem;
    position: relative;
    width: fit-content;
    .circle {
        --size: .625rem;
        background: var(--aqua);
        position: relative;
        &::after {
            border-color: var(--aqua);
            content: "";
        }
    }
}