#speciality {
    flex-wrap: wrap;
    justify-content: space-between;
    .content-consult .tform {
        width: 100%;
    }
}
#carousel {
    gap: 2rem;
    overflow-x: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    img {
        aspect-ratio: 16 / 9;
        background-size: cover;
        border-color: var(--white-100);
        box-shadow: 0rem .049rem .049rem -0.0335rem rgba(0, 0, 0, 0.04), 0rem .12rem .12rem -0.067rem rgba(0, 0, 0, 0.04), 0rem .2273rem .2273rem -0.1004rem rgba(0, 0, 0, 0.04), 0rem .3969rem .3969rem -0.1339rem rgba(0, 0, 0, 0.04), 0rem .6907rem .6907rem -0.1674rem rgba(0, 0, 0, 0.04), 0rem 1.2652rem 1.2652rem -0.2009rem rgba(0, 0, 0, 0.03), 0rem 2.5rem 2.5rem -0.2344rem rgba(0, 0, 0, 0.02);
        height: 21.75rem;
        width: 29.4375rem;
    }
}
.founder {
    background: var(--white-100);
    margin-inline: auto;
    padding: 3rem 2rem 3rem 2rem;
    width: 48.75rem;
}
.founder-foto {
    justify-content: space-between;
    h3 {
        font: var(--f-heading);
        width: 25.5rem;
    }
    img {
        border-color: var(--white-100);
        box-shadow: 0rem .5rem 1.25rem -0.5625rem rgba(0, 0, 0, 0.25);
        height: 9.25rem;
        transform: rotate(12deg);
        width: 8.3125rem;
    }
}
.founder-content {
    margin-block: 3rem;
    p {
        color: var(--dark-80);
        font: var(--f-p18);
        margin-block: 1.5rem;
    }
}
.speciality-img {
    height: 31.3125rem;
    position: relative;
    width: 31.3125rem;
    img {
        position: absolute;
        border-color: var(--white-100);
    }
    & img:nth-child(1) {
        height: 26.875rem;
        width: 86%;
    }
    & img:nth-child(2) {
        aspect-ratio: 1 / 1;
        bottom: 0;
        height: 11.25rem;
        right: 0rem;
        width: 36%;
    }
}
/* tablet */
@media (max-width: 52.125rem) {
    .founder {
        width: 45.625rem;
    }
    .container-team {
        gap: 3rem;
        justify-content: center;
    }
    .speciality-img {
        width: 100%;
        height: 45.6875rem;
        & img:nth-child(1) {
            height: 39.1875rem;
        }
        & img:nth-child(2) {
            height: 16.4375rem;
        }
    }
}
/* mobile */
@media (max-width: 26.75rem) {
    #carousel {
        img {
            width: 100%;
            height: 16.75rem;
        }
    }
    .founder {
        padding-inline: 1.25rem;
        width: 100%;
    }
    .founder-foto {
        align-items: start;
        flex-direction: column;
        gap: .75rem;
        h3 {
            width: 17.375rem;
        }
    }
    #speciality ul li {
        width: 100%;
    }
    .speciality-img {
        height: 21.875rem;
        width: 100%;
        & img:nth-child(1) {
            height: 18.8125rem;
        }
        & img:nth-child(2) {
            
            height: 7.8125rem;
        }
    }
}