#banner {
    justify-content: space-between;
    h1 {
        font: var(--f-main-heading);
        margin-block: 1.5rem;
    }
}
.banner-persons {
    gap: .5rem;
}
.banner-content {
    width: 33rem;
    p {
        color: var(--dark-90);
        font: var(--f-p16-1\4);
        padding-right: .5rem;
    }
    & > p {
        margin-bottom: 1.5rem;
    }
}
.persons-imgs {
    img {
        border-color: var(--white-100);
        border-radius: 50%;        
        height: 2.5625rem;
        width: 2.5625rem;
    }
    & img:nth-child(2) {
        margin-left: -0.9375rem;
    }
    & img:nth-child(3) {
        margin-left: -0.9375rem;
    }
}
.banner-img {
    position: relative;
    width: 30.0625rem;
    figure {
        background: var(--white-100);
        border-color: var(--white-90);
        border-radius: 1rem;
        box-shadow: 0rem .875rem 2.125rem 0rem rgba(0, 0, 0, 0.25);
        padding: .625rem;
        position: absolute;
        z-index: 2;
        img {
            height: 2.8125rem;
            width: 2.8125rem;
        }
        figcaption {
            color: var(--dark-80);
            font: var(--f-p14-medium);
        }
    }
    & figure:nth-child(1) {
        top: .625rem;
    }
    & figure:nth-child(3) {
        bottom: .625rem;
        right: .625rem;
    }
}
.banner-img-principal {
    position: relative;
    img {
        border-radius: 50%;
        height: 30.0625rem;
        width: 30.0625rem;
    }
    &::after,
    &::before {
        border-radius: 50%;
        content: "";
        height:  30rem;
        position: absolute;
        width: 30rem;
        z-index: -1;
    }
    &::after {
        background: var(--aqua);
        left: .625rem;
        top: .9375rem;
    }
    &::before {
        background: var(--crayola);
        bottom: .9375rem;
        left: -0.625rem;
    }
}
.rating {
    background: var(--white-100);
    justify-content: space-between;
    padding: .75rem 3rem;
    figure {
        gap: 1.25rem;
        img {
            height: 2.5625rem;
            width: 2.5625rem;
        }
        figcaption {
            color: var(--dark-80);
            font: var(--f-p18);
        }
    }
}
.divisor {
    background: var(--white-90);
    height: 2.8125rem;
    width: .125rem;
}
#reputation {
    background-size: cover;
    background: url("../../assets/imgs/home/bg-reputation.jpg") no-repeat;
    height: 100vh;
}
.card-reputation {
    img {
        border-color: var(--white-90);
        height: 5rem;
        width: 5rem;
    }
    span {
        color: var(--dark-90);
        display: inline-block;
        font: var(--f-p16-1\4);
        width: 13.75rem;
    }
}
.card-reputation-t {
    font: var(--f-bold-sub-heading);
}
.since-more {
    flex-wrap: wrap;
    justify-content: space-between;
}
.since-content {
    display: grid;
    gap: 2rem;    
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
/* tablet */
@media (max-width: 52.125rem) {
    .banner-content {
        width: 20.625rem;
    }
    .banner-img {
        width: 20.8125rem;
    }
    .banner-img-principal {
        img {
            height: 17.875rem;
            width: 17.875rem;
        }
        &::after,
        &::before {
            height:  17.5rem;
            width: 17.5rem;
        }
    }
    .rating {
        padding: .75rem 2rem;
    }
    .speciality-img {
        margin-top: 2rem;
    }
    #since header {
        align-items: flex-start;
        text-align: start;
    }
    .since-more {
        flex-direction: column-reverse;
        & .speciality-img {
            margin-top: 4rem;
        }
    }
}
/* mobile */
@media (max-width: 26.75rem) {
    #home {
        .container-form {
            padding: 2.25rem 1.25rem;
            form {
                padding: 0;
            }
        }
    }
    #banner {
        flex-direction: column;
    }
    .banner-img {
        width: 100%;
        margin-top: 4rem;
    }
    .banner-img-principal {
        margin-left: 1.5rem;
    }
    .rating {
        flex-direction: column;
        gap: 1rem;
        padding: .5rem;
    }
    .divisor {
        height: .125rem;    
        width: 100%;
    }
    .since-content {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}