* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}
:root {
    /* font family */
    --f-f: "Inter", sans-serif;
    /* font size */
    --f-s-b-s-h: 1.25rem;
    --f-s-h: 2.625rem;
    --f-s-l-l: 4.5rem;
    --f-s-m-h: 3.5rem;
    --f-s-m-s-h: 1.375rem;
    --f-s-p14: .875rem;
    --f-s-p16: 1rem;
    --f-fp16-1\6: 1rem;
    --f-s-p18: 1.125rem;
    --f-s-p18b: 1.125rem;
    --f-s-s-l: 1.75rem;
    /* font weight */
    --f-w-l: 300;
    --f-w-r: 400;
    --f-w-m: 500;
    --f-w-sb: 600;
    --f-w-b: 700;
    /* line height */
    --l-h-1\2: 120%;
    --l-h-1\4: 140%;
    --l-h-1\6: 160%;
    /* font (shorthand) */
    --f-bold-sub-heading: var(--f-w-b) var(--f-s-b-s-h)/var(--l-h-1\2) var(--f-f);
    --f-heading: var(--f-w-sb) var(--f-s-h)/var(--l-h-1\2) var(--f-f);
    --f-large-label: var(--f-w-l) var(--f-s-l-l)/var(--l-h-1\2) var(--f-f);
    --f-main-heading: var(--f-w-sb) var(--f-s-m-h)/var(--l-h-1\2) var(--f-f);
    --f-medium-sub-heading: var(--f-w-m) var(--f-s-m-s-h)/var(--l-h-1\4) var(--f-f);
    --f-p14-medium: var(--f-w-m) var(--f-s-p14)/var(--l-h-1\4) var(--f-f);
    --f-p16-1\4: var(--f-w-r) var(--f-s-p16)/var(--l-h-1\4) var(--f-f);
    --f-p16-1\6: var(--f-w-r) var(--f-fp16-1\6)/var(--l-h-1\6) var(--f-f);
    --f-p18-bold: var(--f-w-sb) var(--f-s-p18b)/var(--l-h-1\2) var(--f-f);
    --f-p18: var(--f-w-r) var(--f-s-p18)/var(--l-h-1\4) var(--f-f);
    --f-small-label: var(--f-w-sb) var(--f-s-s-l)/var(--l-h-1\2) var(--f-f);
    /* colors */
    --aqua: #0dc6ff;
    --blue-25: #1294ff40;
    --crayola: #09e0a7;
    --dark-0: #00000000;
    --dark-100: #000000;
    --dark-60: #00000099;
    --dark-70: #787878;
    --dark-80: #858585;
    --dark-90: #6E6E6E;
    --green-25: #3dffc540;
    --light-blue: #F3F5F9;
    --red-15: #ff216426;
    --red: #FF2244;
    --white-100: #FFFFFF;
    --white-25: #ffffff40;
    --white-60: #D9D9D9;
    --white-80: #9D9D9D;
    --white-90: #E6E6E6;
    --white-95: #F0F0F0;
}
body {
    background: var(--white-95);
    color: var(--dark-100);
    font-family: var(--f-f);
    font-size: var(--f-s-p16);
    font-weight: var(--f-w-r);
}
main {
    max-width: 100%;
    overflow: hidden;
    padding-top: 9.75rem;
    position: relative;
    &::after {
        background: var(--crayola);
        border-radius: 50%;
        content: "";
        filter: blur(12.5rem);
        height: 37.5rem;
        position: absolute;
        right: -5rem;
        top: -9.375rem;
        width: 43.75rem;
        z-index: -10;
    }
}
section {
    max-width: 70rem;
    margin-inline: auto;
}
a {
    color: var(--dark-100);
    cursor: pointer;
    text-decoration: none;
}
/* tablet */
@media (max-width: 52.125rem) {
    :root {
        --f-s-h: 2.5rem;
        --f-s-l-l: 3.5rem;
        --f-s-m-h: 2.5rem;
        --f-s-m-s-h: 1.25rem;
        --f-s-p16: .875rem;
        --f-s-p18b: 1.0625rem;
        --f-s-s-l: 1.5rem;
    }
    main {
        &::after {
            right: -10rem;
            top: -19.375rem;
        }
    }
}
/* mobile */
@media (max-width: 26.75rem) {
    :root {
        --f-fp16-1\6: .875rem;
        --f-s-h: 1.875rem;
        --f-s-l-l: 2.25rem;
        --f-s-m-h: 2rem;
        --f-s-m-s-h: 1.125rem;
        --f-s-p16: .875rem;
        --f-s-p18: 1rem;
        --f-s-p18b: 1rem;
        --f-s-s-l: 1.125rem;
    }
    main {
        &::after {
            height: 18.75rem;
            right: -16rem;
            top: -4.375rem;
            width: 31.25rem;
        }
    }
}